*{
  margin: 0;
}
@media only screen and (max-width:40em){
  .navbtn2{
    display: none;
  }
  .getappicon{
    opacity: 1;
  }
  ul{
    display: none;
  }
  .search{
    display: none;
  }
  .navlist2{
   opacity: 0;
  }
  .side{
    display: block !important;
  }
}
.body{
 min-height: 100vh;
 overflow: scroll;
}
::-webkit-scrollbar{
  display: none;
}